main {
  text-align: center;
}
main a {
  text-decoration: none;
}
main ul li {
  list-style-type: none;
}

@media screen and (max-width: 425px) {
  .titulosportada {
    content-visibility: hidden;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 300px;
  }
  #portada1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1vh;
    margin-bottom: 20px;
  }
  main div section {
    padding-top: 0px;
  }
  #portada {
    content-visibility: hidden;
  }
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header div {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  padding-left: 10px;
  padding-right: 100px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 4rem;
}

.titulosportada {
  padding-right: 400px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  h1 {
    padding-left: 0px;
    padding-right: 0px;
  }
  h2 {
    font-size: 3rem;
  }
  #titulosportada {
    padding-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 425px) {
  h2 {
    font-size: 2.5rem;
  }
  .titulopreguntas {
    font-size: 2rem;
  }
}
.elboton {
  text-align: center;
  padding-right: 400px;
}

.boton {
  background-color: rgb(255, 177, 60);
  block-size: 60px;
  font-size: 2rem;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
}

.botonel {
  text-decoration: none;
  color: black;
  font-style: italic;
}

@media screen and (max-width: 425px) {
  .elboton {
    content-visibility: hidden;
  }
}
.carousel-inner {
  padding-left: 35%;
  padding-right: 35%;
}

.carousel-caption {
  font-style: italic;
  color: black;
}

.admision,
.led,
.disco {
  height: 500px;
  width: 200px;
}

@media screen and (max-width: 1024px) {
  .carousel-inner {
    padding-left: 300px;
    padding-right: 300px;
  }
  .carousel-caption {
    font-style: italic;
    color: black;
  }
  .admision,
  .led,
  .disco {
    height: 500px;
    width: 200px;
  }
}
@media screen and (max-width: 768px) {
  .carousel-inner {
    padding-left: 200px;
    padding-right: 200px;
  }
  .carousel-caption {
    font-style: italic;
    color: black;
  }
  .admision,
  .led,
  .disco {
    height: 500px;
    width: 200px;
  }
}
@media screen and (max-width: 425px) {
  .carousel-inner {
    padding-left: 50px;
    padding-right: 50px;
  }
  .carousel-caption {
    font-style: italic;
    color: black;
  }
  .admision,
  .led,
  .disco {
    height: 500px;
    width: 200px;
  }
}
.borderlist {
  border-radius: 15px;
  box-shadow: 7px 3px 10px 1px black;
  font-style: oblique;
  font-weight: 600;
  text-align: center;
}

.navbar-brand {
  font-size: 30px;
  padding-left: 10px;
}

.logoprinc {
  height: 100px;
}

.nredes {
  grid-area: nredes;
}

.direc {
  grid-area: direc;
}

.contact {
  grid-area: contact;
}

.hora {
  grid-area: hora;
}

.volverarriba {
  grid-area: volverarriba;
  text-align: center;
}

header {
  padding-top: 150px;
}

footer {
  background-color: #aaaaa6;
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
  grid-template-columns: 200px 400px 1.5fr 200px;
  grid-template-rows: 1fr 13%;
  grid-template-areas: "nredes direc contact hora" "volverarriba volverarriba volverarriba volverarriba";
  text-align: left;
  justify-content: center;
}

.footertittles {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 600;
}

ul {
  padding-inline-start: 0px;
}
ul li {
  list-style-type: none;
  display: inline;
  margin: 5px;
}

.iconface,
.iconig,
.iconwpp,
.telfijo {
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 1024px) {
  footer {
    padding-left: 0px;
    padding-right: 0px;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 210px;
    grid-template-areas: "nredes hora" "volverarriba volverarriba";
    text-align: center;
    justify-content: center;
  }
  .contact,
  .direc {
    content-visibility: hidden;
  }
}
main div section {
  background-image: url(../images/vento.jpg);
  background-repeat: no-repeat;
  background-size: 400px 300px;
  background-position: right;
  margin-bottom: 100px;
}

#portada {
  padding-right: 400px;
  padding-left: 20px;
  animation-duration: 2s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

#portada1 {
  padding-top: 0;
  font-size: 2rem;
  padding-left: 10px;
  text-align: justify;
}

main section p {
  font-family: Arial, Helvetica, sans-serif;
}

.mecanica,
.suspension,
.frenos,
.radiadores,
.luces,
.accycomp {
  height: 200px;
  width: 250px;
}

.listaproductos {
  padding-left: 50px;
  padding-right: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 425px) {
  #portada1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1vh;
    margin-bottom: 20px;
  }
  #portada {
    content-visibility: hidden;
  }
  .tituloproduct,
  .portada2,
  .portada3,
  .pyr,
  .listaproductos,
  .titulopreguntas,
  .titulocontacto,
  .contactosec,
  .sectionpyr {
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
    background-image: none;
  }
}
.portada3 {
  padding-right: 400px;
  padding-left: 50px;
}

@media screen and (max-width: 425px) {
  .tituloproduct,
  .portada2,
  .portada3,
  .pyr,
  .listaproductos,
  .titulopreguntas,
  .titulocontacto,
  .contactosec,
  .sectionpyr {
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
    background-image: none;
  }
}
section ul li {
  display: inline-block;
  margin: 20px;
}

.listaproductos {
  padding-left: 50px;
  padding-right: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tituloproduct {
  padding-right: 400px;
}

@media screen and (max-width: 425px) {
  .tituloproduct,
  .portada2,
  .portada3,
  .pyr,
  .listaproductos,
  .titulopreguntas,
  .titulocontacto,
  .contactosec,
  .sectionpyr {
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
    background-image: none;
  }
}
.pyr {
  display: flex;
  text-align: left;
  flex-direction: column;
  padding-right: 400px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 50px;
}

.titulopreguntas {
  padding-right: 400px;
}

#listapyr {
  font-size: 1.5rem;
}

@media screen and (max-width: 425px) {
  .tituloproduct,
  .portada2,
  .portada3,
  .pyr,
  .listaproductos,
  .titulopreguntas,
  .titulocontacto,
  .contactosec,
  .sectionpyr {
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
    background-image: none;
  }
}
.portada2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-right: 400px;
}

.titulocontacto {
  padding-right: 400px;
}

.mail {
  width: 185px;
}

@media screen and (max-width: 425px) {
  .tituloproduct,
  .portada2,
  .portada3,
  .pyr,
  .listaproductos,
  .titulopreguntas,
  .titulocontacto,
  .contactosec,
  .sectionpyr {
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
    background-image: none;
  }
}

/*# sourceMappingURL=style.css.map */
