.portada2, 
.titulocontacto{
    @include flex (center, justify);
}


.mail {
    
    width: 220px;
}

#txtboxMultiline {
    width: 300px;
}

form {align-items: center;}

@media screen and (max-width: 1024px) {

    .contact,
    .direc {
        content-visibility: hidden;
    }
}


@media screen and (max-width: 425px) {

    .portada2,
    .titulocontacto,
    .contactosec {
        @include titulos (30px)
    }
}