.portada2 {
    @include flex (justify, center);
}

.titulocontacto {
    padding-right: 400px;
    padding-left: 50px;
}

.mail {
    width: 185px;
}

@media screen and (max-width: 1024px) {

    .contact,
    .direc {
        content-visibility: hidden;
    }
}


@media screen and (max-width: 425px) {

    .portada2,
    .titulocontacto,
    .contactosec {
        @include titulos (30px)
    }
}