section {
    ul {
        li {
            display: inline-block;
            margin: 20px;
        }
    }
}

.listaproductos {
    padding-left: 50px;
    padding-right: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tituloproduct {
    padding-right: 400px;
}

@media screen and (max-width: 425px) {

    .tituloproduct,
    .listaproductos {
        @include titulos (70px)
    }
}