.nredes {
    grid-area: nredes;

}

.direc {
    grid-area: direc;
}

.contact {
    grid-area: contact;
}

.hora {
    grid-area: hora;

}

.volverarriba {
    grid-area: volverarriba;
    text-align: center;
}
