
.elboton {
    text-align: center;
    padding-right: 400px;
}

.boton {
    background-color: $color-primario;
    block-size: 60px;
    font-size: 2rem;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    
}

.botonel {
    text-decoration: none;
    color: black;
    font-style: italic;

}

div {
    button {
        
        @extend .botonel;
        @extend .boton;

    }
}

@media screen and (max-width: 425px) {

    .elboton {
        content-visibility: hidden;
    }
}