.carousel-inner {
    padding-left: 35%;
    padding-right: 35%;
}

.carousel-caption {
    font-style: italic;
    color: black;
}

.admision,
.led,
.disco {
    height: 500px;
    width: 200px;
}

@media screen and (max-width: 1024px) {
    .carousel-inner {
        padding-left: 300px;
        padding-right: 300px;
    }

    .carousel-caption {
        font-style: italic;
        color: black;
    }

    .admision,
    .led,
    .disco {
        height: 500px;
        width: 200px;
    }
}

@media screen and (max-width: 768px) {

    .carousel-inner {
        padding-left: 200px;
        padding-right: 200px;
    }

    .carousel-caption {
        font-style: italic;
        color: black;
    }

    .admision,
    .led,
    .disco {
        height: 500px;
        width: 200px;
    }
}

@media screen and (max-width: 425px) {

    .carousel-inner {
        padding-left: 50px;
        padding-right: 50px;
    }

    .carousel-caption {
        font-style: italic;
        color: black;
    }

    .admision,
    .led,
    .disco {
        height: 500px;
        width: 200px;
    }
}